<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- General system settings -->
    <add key="DebugLogging" value="true" />
    <add key="DebugLoggingFile" value="Logs\CommService.log" />
    <!-- Webserver settings -->
    <add key="WebServerOn" value="true" />
    <add key="WebServerPort" value="80" />
    <add key="WebPageRefresh" value="5000" />
    <!-- 5sec refresh -->
    <!-- FTP server settings -->
    <add key="FtpServerOn" value="true" />
    <add key="FtpServerPort" value="21" />
    <add key="FtpServerBuffer" value="128" />
    <add key="FtpLoggingFile" value="Logs\FtpSession.log" />
    <add key="FtpServerVerbose" value="true" />
    <add key="FtpServerAnyAddr" value="true" />
    <add key="FtpServerUserName" value="10ScvXQGD8rTn5AiBzXY4A==" />
    <add key="FtpServerPassword" value="6Ea+bvyWhnCNAUxq8PFG1w==" />
    <!-- TCP/IP server settings -->
    <add key="TcpipServerOn" value="true" />
    <add key="TcpipServerProto" value="TCP" />
    <add key="TcpipServerPort" value="40000" />
    <!-- Shared folder settings -->
    <add key="SharedFolderOn" value="true" />
    <add key="SharedFolder" value="Shared" />
    <add key="ProcessSubDirs" value="true" />
    <!-- Timer function settings -->
    <add key="TimerFunctionOn" value="true" />
    <add key="TimerFuncInterval" value="60000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>